{% extends 'base.html.twig' %}

{% block title %}New Soustheme{% endblock %}

{% block body %}
    <h1>Create new Soustheme</h1>

    {{ include('soustheme/_form.html.twig') }}

    <a href="{{ path('soustheme_index') }}">back to list</a>
{% endblock %}
